<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clash Royale - Cards List</title>
    <link rel="stylesheet" href="/style/index.css">
    <link rel="stylesheet" href="/style/fonts.css">
</head>

<body>
    <div>
        <h1>Clash Royale Cards</h1>
        <% if (cards.length > 0) { %>
        <div class="cards-container">
            <% cards.forEach(card => { %>
            <a href="/details/?name=<%= card.name %>">
                <div class="card">
                    <img src="<%= card.iconUrls.medium %>" alt="<%= card.name %>">
                    <h2><%= card.name %></h2>
                    <p><strong>Max Level:</strong> <%= card.maxLevel %></p>
                    <p class="rarity <%= card.rarity %>"><%= card.rarity %></p>
                </div>
            </a>
            <% }) %>
        </div>
        <% } else { %>
        <p class="no-cards-message">No cards available at the moment. Please try again later.</p>
        <% } %>
    </div>
</body>

</html>